[data-inviewport="slide-up"] {
  visibility: visible;
}

[data-inviewport="slide-up"].is-inViewport {
  visibility: visible !important;
  animation: slide-up 1s ease-out both;
}

@keyframes slide-up {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

[data-inviewport="slide-right"] {
  visibility: hidden;
}

[data-inviewport="slide-right"].is-inViewport {
  visibility: visible !important;
  animation: slide-right 1s ease-out both;
}

@keyframes slide-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  60% {
    transform: translateX(-10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

[data-inviewport="slide-left"] {
  visibility: hidden;
}

[data-inviewport="slide-left"].is-inViewport {
  visibility: visible !important;
  animation: slide-left 1s ease-out both;
}

@keyframes slide-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  60% {
    transform: translateX(10px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
