@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
  /*height: 100%;*/
  height: 100vh;
}

.clickable {
  pointer-events: visible;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

/* global.css o dove metti il tuo CSS custom */
.fullscreen-fix {
  height: 100vh; /* fallback */
}

@supports (height: 100dvh) {
  .fullscreen-fix {
    height: 100dvh;
  }

  body {
    height: 100dvh;
  }
}

/* PAGINE SOVRAPPOSTE ---------------------------------------------------*/
.page {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.45s cubic-bezier(0.4, 0.01, 0.2, 1);
  will-change: transform;
  transform: translateX(100%);
  z-index: 0;
}

.page--current {
  transform: translateX(0);
  z-index: 2;
}

.page--toLeft {
  transform: translateX(-100%);
  z-index: 1;
}

.page--toRight {
  transform: translateX(100%);
  z-index: 1;
}

@media screen and (max-width: 780px) {
  .page {
    position: fixed;
  }

  .hidden_mobile {
    display: none !important;
    visibility: hidden !important;
  }

  .hidden_desktop {
    display: block !important;
    visibility: visible !important;
  }

  .header-logo-image {
    width: 130px;
    opacity: 1;
  }
}

@media screen and (min-width: 780px) {
  .hidden_mobile {
    display: block !important;
    visibility: visible !important;
  }

  .hidden_desktop {
    display: none !important;
    visibility: hidden !important;
  }

  .header-logo-image {
    width: 100px;
    align-items: center !important;
    margin-left: calc(50% - 50px) !important;
    margin-top: 30px;
    /*margin-bottom: 20px;*/
  }
}

.left-background {
  width: 70%;
  padding: 40px;
  height: 100vh;
  /*background: radial-gradient(
      125% 125% at 50% 10%,
      rgba(0, 0, 0, 0.7) 40%,
      rgba(102, 51, 238, 0.7) 100%
    ),
    url("./img/auth.jpg") center no-repeat;*/
  background: radial-gradient(
      125% 125% at 50% 10%,
      rgba(0, 0, 0, 0.3) 40%,
      rgba(102, 51, 238, 0.5) 100%
    ),
    url("../img/Access%20Sphere%20Full.png") center no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
  align-content: center;
  flex-direction: row;
}

/* Autofill fix per sfondo e colore coerente */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #2c3035 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff;
  transition: background-color 9999s ease-out, color 9999s ease-out;
}

/*
* ---------------------------
* Login Button
* ---------------------------
*/
#loginButton:disabled,
#resetButton:disabled,
#changePasswordButton:disabled,
#otp_verification_code_button:disabled,
#verifyOTP:disabled {
  background-color: #dddddd;
  cursor: not-allowed;
}
/*
* ---------------------------
* Login Button
* ---------------------------
*/

/*
* ----------------------------
* Google Button
* ----------------------------
*/
.gsi-material-button {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #2c3035;
  background-image: none;
  border: 1px solid #5a5a5a; /* Bordo più scuro */
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #e3e3e3;
  cursor: pointer;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
  border-color: #5a5a5a67;
  display: flex;
  align-items: center;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  min-width: 20px;
  width: 20px;
}

/* Contenitore dell'icona Google con sfondo bianco */
.gsi-material-button-icon-container {
  background-color: white;
  border-radius: 50%;
  width: 30px; /* Dimensione cerchio */
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  margin-left: -8px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #13131461;
  border-color: #8e918f1f;
}

.gsi-material-button:disabled .gsi-material-button-state {
  background-color: #e3e3e31f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: white;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: white;
  opacity: 8%;
}
/*
* ----------------------------
* END Google Button
* ----------------------------
*/
